.new-task__select {
  .select {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  .select.is-active .select__body {
    display: block;
  }
  .select.is-active .select__header {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
  }

  .select__header {
    border: 1px solid #00000026;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
  }
  .select__current {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }
  .select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
  }

  .select__body {
    background-color: #ffffff;
    border: 1px solid #00000026;
    border-radius: 0 0 10px 10px;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
  .select__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
  }

  .select__item:hover {
    background-color: #f2f2f2;
  }
}
