.send-message {
  padding: 100px 0px;
  background-color: var(--color-background);
  min-height: 100vh;
  @media (max-width: 768px) {
    padding: 70px 0px;
  }
}
.send-message__container {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 50px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 900px) {
    padding: 30px 15px;
  }
}
.send-message__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.send-message__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.send-message__input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}
.send-message__textarea {
  display: block;
  width: 100%;
  height: 400px;
  padding: 15px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}
.send-message__label {
  & span {
    margin-bottom: 10px;
    display: block;
  }
}
.send-message__select {
  border: 1px solid var(--color-dark);
  border-radius: 10px;
  padding: 5px 15px;
}
